<!DOCTYPE html>
<html>
<head>
  <title>Echoserver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Request Environment Variables</h1>
	<hr>

<%= yield %>
<hr>
<footer>&copy; Lakshit Bhutani | Inspired by eku-echo-server</footer>

</body>
</html>
